// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red: #F30100;
// $orange: #fd7e00;
$light_orange: #ffbf80;
$deepblue: #0067C0;
$green: #2dbe5b;
// $yellow: #ffd900;

// $custom1: #ff84c2;
$custom1: #ff77bb;
$custom2: #4e92ff;
// $custom2: #3a64a8;
$custom3: #ffa46f;
$custom4: #7affbc;
$custom5: #ff626a;
$custom6: #84e6ff;