// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red: #F30100;
// $orange: #fd7e00;
$light_orange: #ffbf80;
$deepblue: #0067C0;
$green: #2dbe5b;
// $yellow: #ffd900;

$custom1: #ff69b4;
$custom2: #3a64a8;
$custom3: #ffc664;
$custom4: #54f7a5;
$custom5: #b94047;