.odlist {
    &-orders {
        height: 50vh;
        overflow: scroll;
        white-space:nowrap;
        &-column {
            top: 0;
            z-index: 2;
        }

        &-order {
            font-size: 16px;
        }
    }

    &-operation {
        height: 161px;
        &-btn {
            width: 100px;
            height: 100px;
            text-align: center;
            border-radius: 10px;

            position: relative;
            transition: 0.3s ease-in-out;
            border: 0.2rem solid #543618;
            box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
            &::after {
                content: '';
                width: 5px;
                height: 5px;
                transform: rotate(45deg) translateY(-50%);
                position: absolute;
                top: 50%;
                right: 20px;
                border-radius: 1px;
                transition: 0.3s ease-in-out;
            }
            &:active {
                transform: translate3d(0.2rem, 0.2rem, 0);
                box-shadow: none;
                opacity: 1;
                transition: all .025s;
            }
            &-icon {
                font-size: 48px;
                line-height: 58px;
            }
            &-label {
                font-size: 18px;
            }
            &-inactive {
                opacity: .5;
            }
        }
    }

    &-detail {
        height: 56.5vh;
        overflow: scroll;
        white-space:nowrap;
        &-column {
            top: 0;
            z-index: 2;
        }

        &-clothes {
            font-size: 16px;
        }
    }

    &-handed {
        background-color: gray;
        color: #fff;
    }
    &-selected {
        border: 3px solid #2dbe5b;
    }
    &-unselected {
        padding: 10px 2px !important;
    }

}



.ls-green {background-color:#2dbe5b;}
.ls-orange {background-color:$orange;}