#app {
    height: 100vh;
}

.csinfo-table {
    margin-bottom: 0;
}
.csinfo-table td {
    font-size: 18px;
    border: none;
    padding: 0 0.5rem;
    line-height: 1.1;
    text-align: left;
}

/* Grid */
.col-3-custom {
    width: 24%;
    flex: 0 0 24%;
}
.col-15, .col-sm-15, .col-md-15, .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
    width: 100%;
}
.col-15{
  width: 19%;
  flex: 0 0 19%;
}

/* button */
/* default */
.cbtn {
    cursor: pointer;
    text-decoration:none;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    /* pointer-events: none; */
}
/* size */
.cbtn-lg {
    font-size: calc(1.2825rem + 0.39vw);
    text-decoration:none;
}
.cbtn-md {
    font-size: calc(1.2825rem + 0.39vw);
}
.cbtn-sm {
    font-size: calc(1.2825rem + 0.39vw);
}
/* color */
.cbtn-blue, .cbtn-blue:hover {
    color: #fff;
    background-color: #007bff;
}
.cbtn-green, .cbtn-green:hover {
    color: #fff;
    background-color: #28a745;
}
.cbtn-red, .cbtn-red:hover {
    color: #fff;
    background-color: #F30100;
}
.cbtn-gray, .cbtn-gray:hover {
    color: #fff;
    background-color: #6c757d;
}


.lh-leftbtn {
    height: 91px;
    padding: 22.5px 0;
}
.lh-leftbtn-oneline {
    height: 91px;
    padding: 35px 0;
}
.lh-rightbtn {
    line-height: 90px;
}
.ctl-btn {
    line-height: 46px;
}

/* card */
.menu-columns {
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 1fr));
    justify-content: space-between;
    gap: 6px;
}
.menu-card {
    height: 180px;
    width: 180px;
    /* border-color: #007bff; */
}
.menu-icon {
    line-height: 130px;
    font-size: 100px;
}
.return-icon {
    display: block;
    padding-top: 20px;
    line-height:110px;
    font-size: 65px;
}
.category-label {
    line-height: 160px;
    margin-bottom: 20px;
    font-size: 24px;
}
.clothes-label {
    display: block;
    padding-top: 30px;
    line-height: 50px;
    font-size: 24px;
}
.price-label {
    display: block;
    line-height: 80px;
    margin-bottom: 20px;
    font-size: 24px;
}

/* order */
.order-left {
    width: 40%;
}
.order-right {
    width: 55%;
}
.search-menu {
    width: 100%;
    height: 80vh;
}
.slip-window {
    width: 100%;
    height: 70vh;
}
.order-btn-area {
    width: 100%;
    height: 10vh;
    align-items: flex-end;
}
.order-btn-right {
    align-items: flex-end;
}
.order-btn {
    font-size: 18px;
    bottom: 0;
}

.category-bar {
    height: 80vh;
    overflow: scroll;
    font-size: 24px;
}
.clothes-bar {
    height: 80vh;
    overflow: scroll;

    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: repeat(2, minmax(5rem, auto));
    justify-content: space-around;
    align-content: start;
    gap: 10px;

    font-size: 24px;
}
.clothes-card {
    height: 100px;
}
.slip-bar {
    height: 80vh;
}
.bottom-bar {
    position: fixed;
    bottom: 0;
}
.order-list {
    overflow: scroll;
    height: 80%;
}
.order-title {
    font-size: 24px;
}
.order-detail {
    font-size: 24px;
}
.order-text {
    line-height: 1.8;
}
