.iv-title {
  font-size: 28px;
}
.iv-left-search-field {
  font-size: 20px;
}
.iv-left-result-field {
  height: 66vh;
}
.iv-left-result-field-card {
  font-size: 20px;
}
.iv-left-result-field-back {
  font-size: 24px;
}
.iv-left-result-field-list {
  height: 58vh;
}
.iv-left-result-field-list-card {
  font-size: 20px;
}
.iv-right-select-label {
  font-size: 20px;
}
.iv-right-select-field {
  height: 50vh;
}
.iv-reset {
  position: fixed;
  right: 202.5px;
  bottom: 42px;
  transition: 1s;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fd7e00;
  text-align: center;
  font-size: 28px;
  line-height: 150px;
  text-decoration: none;
  color: #fff;
}
.iv-reset:hover {
  color: #fff;
}
.iv-pdf {
  position: fixed;
  right: 17.5px;
  bottom: 42px;
  transition: 1s;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fd7e00;
  text-align: center;
  font-size: 28px;
  line-height: 150px;
  text-decoration: none;
  color: #fff;
}
.iv-pdf:hover {
  color: #fff;
}
.iv-unselected {
  padding: 10px 2px !important;
}
.iv-selected {
  border: 3px solid #2dbe5b;
}
