.modal.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.modal-window {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.modal-content {
  position: relative;
  border-radius: 6px;
}
.modal-footer {
  background: #ccc;
  padding: 10px;
  text-align: right;
}

.modal-enter-active, .modal-leave-active {
  transition: opacity 0.4s;
}
.modal-enter-active .modal-window, .modal-leave-active .modal-window {
  transition: opacity 0.4s, transform 0.4s;
}

.modal-leave-active {
  transition: opacity 0.6s ease 0.4s;
}

.modal-enter, .modal-leave-to {
  opacity: 0;
}
.modal-enter .modal-window, .modal-leave-to .modal-window {
  opacity: 0;
  transform: translateY(-20px);
}

.modal-ac-board {
  width: 800px;
  height: 600px;
  background-color: #0067C0;
}

.modal-ac-header {
  height: 50px;
  font-size: 32px;
  line-height: 50px;
}

.modal-ac-body {
  height: 470px;
  background-color: #0067C0;
}

.modal-ac-result-total {
  background-color: #fff;
}
.modal-ac-result-total-label {
  font-size: 20px;
  line-height: 72px;
}
.modal-ac-result-total-price {
  font-size: 32px;
}
.modal-ac-result-total-price p {
  font-size: 16px;
  bottom: -8px;
}
.modal-ac-result-change {
  background-color: #fff;
}
.modal-ac-result-change-label {
  font-size: 20px;
  line-height: 45px;
}
.modal-ac-result-change-price {
  font-size: 28px;
}
.modal-ac-result-receive {
  background-color: #fff;
  margin-top: 35px;
}
.modal-ac-result-receive-label {
  font-size: 20px;
  line-height: 45px;
}
.modal-ac-result-receive-price {
  font-size: 28px;
  padding-right: 25px;
}

.modal-ac-keypad {
  width: 432px;
  height: 432px;
  font-size: 40px;
  text-align: center;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
.modal-ac-keypad::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -95px;
  margin-top: -40px;
  border: 40px solid transparent;
  border-right: 40px solid #0067C0;
}
.modal-ac-keypad-upper {
  display: grid;
  grid-template-columns: 108px 108px 108px 108px;
  grid-template-rows: 108px 108px;
  justify-content: space-around;
  align-content: start;
  gap: 0;
}
.modal-ac-keypad-upper-key {
  background-color: #fff;
  line-height: 108px;
}
.modal-ac-keypad-upper-backspace {
  background-color: #0067C0;
  line-height: 108px;
}
.modal-ac-keypad-upper-minus {
  background-color: #0067C0;
  line-height: 108px;
}
.modal-ac-keypad-lower {
  display: grid;
  grid-template-columns: 108px 108px 108px;
  grid-template-rows: 108px 108px;
  justify-content: space-around;
  align-content: start;
  gap: 0;
}
.modal-ac-keypad-lower-key {
  background-color: #fff;
  line-height: 108px;
}
.modal-ac-keypad-lower-just {
  height: 216px;
  width: 108px;
  background-color: #0067C0;
  line-height: 216px;
}

.modal-ac-send {
  height: 80px;
  line-height: 80px;
  font-size: 32px;
}

.modal-ch {
  width: 400px;
}
.modal-ch-label {
  font-size: 18px;
}
.modal-ch-change {
  font-size: 42px;
}
